.overlay {
  position: fixed; top: 0; left: 0; right:0; bottom:0;
  background: rgba(41,48,61,.21);
  display: flex; align-items: center; justify-content: center; z-index: 1000;
}
.modal {
  background: #fff;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  padding: 22px 20px 12px 20px;
  position: relative;
  box-shadow: 0 4px 24px rgba(60,95,140,.07);
}
.closeBtn {
  position: absolute;
  top: 10px; right: 16px;
  background: transparent; border: none;
  font-size: 24px; color: #888; cursor: pointer;
}