.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f2f3f5;
  font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
}

.main {
  flex: 1;
  padding: 32px 0 16px 0;
  display: flex;
  justify-content: center;
}